:root {
    --monochrome-100: #e8e9e9;
	--monochrome-200: #cdcecf;
	--monochrome-300: #9b9c9e;
	--monochrome-400: #686b6e;
	--monochrome-500: #363a3d;
	--monochrome-600: #1a1d21;
	--monochrome-700: #131619;
	--monochrome-700-blur: rgba(19, 22, 25, 0.7);
	--monochrome-800: #0d0f10;
	--monochrome-900: #060708;
	--color-red: #eb5757;
	--color-orange: #f2994a;
	--color-yellow: #f2c94c;
	--color-green-100: #6fcf97;
	--color-green-200: #27ae60;
	--color-green-300: #219653;
	--color-blue-100: #56ccf2;
	--color-blue-200: #2d9cdb;
	--color-blue-300: #2f80ed;
	--color-violet-100: #bb6bd9;
	--color-violet-200: #9b51e0;
	--service-component: #9747ff;

    --font-family: "Mochiy Pop One", sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
}

.container {
	min-width: 168px;
	margin: auto;
}

.tile {
	padding: 8px;
	background: var(--monochrome-600);
	border-radius: 8px;
	border-top: 1px solid var(--monochrome-500);
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
}

.tile:hover {
	border-top: 1px solid var(--monochrome-400);
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.05), 0 20px 25px -5px rgba(0, 0, 0, 0.05);
	background: var(--monochrome-500);
}

.tile:hover .data_item {
	border: 1px solid var(--monochrome-400);
}

.tile:hover .data_item__img {
	border-bottom: 1px solid var(--monochrome-400);
}

.tile:hover .tile_miniature {
	background: var(--monochrome-900);
}

.tile_miniature {
    display: flex;
	/* justify-content: center; */
	background: var(--monochrome-700);
	border-radius: 8px;
	padding: 16px;
	/* min-width: 152px; */
	/* min-height: 152px; */
	box-sizing: border-box;
	max-width: 304px;
}

.tile_num {
	position: absolute;
	font-family: var(--font-family);
	font-size: 8px;
	line-height: 1;
	color: var(--monochrome-100);
}

.tile_img {
	min-width: 120px;
	min-height: 120px;
	/* position: absolute; */
	margin: auto;
}

.tile_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tile_title {
	font-family: var(--font-family);
	font-size: 16px;
	line-height: 125%;
	letter-spacing: 0.02em;
	color: var(--monochrome-100);
	margin: 8px 56px;
}

.svg {
	height: 16px;
	width: 16px;
}

.types {
	display: flex;
	gap: 8px;
	padding: 4px 0px;
	width: 40px;
	height: 24px;
	box-sizing: border-box;
}

.data {
	width: 100%;
	display: grid;
	gap: 4px;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 16px;
}

.data_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid var(--monochrome-500);
	border-radius: 8px;
	height: 56px;
	width: 100%;
	box-sizing: border-box;
}

.data_item__img {
	display: flex;
	justify-content: center;
	height: 16px;
	border-bottom: 1px solid var(--monochrome-500);
	padding: 8px 0 8px;
	width: 100%;
}

.data_item__points {
	display: flex;
	justify-content: center;
	width: 100%;
	font-family: var(--font-family);
	font-size: 8px;
	line-height: 100%;
	letter-spacing: 0.05em;
	color: var(--monochrome-100);
	padding: 8px 0 8px;
}