:root {
    --monochrome-100: #e8e9e9;
	--monochrome-200: #cdcecf;
	--monochrome-300: #9b9c9e;
	--monochrome-400: #686b6e;
	--monochrome-500: #363a3d;
	--monochrome-600: #1a1d21;
	--monochrome-700: #131619;
	--monochrome-700-blur: rgba(19, 22, 25, 0.7);
	--monochrome-800: #0d0f10;
	--monochrome-900: #060708;
	--color-red: #eb5757;
	--color-orange: #f2994a;
	--color-yellow: #f2c94c;
	--color-green-100: #6fcf97;
	--color-green-200: #27ae60;
	--color-green-300: #219653;
	--color-blue-100: #56ccf2;
	--color-blue-200: #2d9cdb;
	--color-blue-300: #2f80ed;
	--color-violet-100: #bb6bd9;
	--color-violet-200: #9b51e0;

	--drop-shadow-10p: rgba(0 0 0 / 10%);
	--drop-shadow-5p: rgba(0 0 0 / 5%);  

	--transition-default: ease 0.25s;

    --font-family: "Mochiy Pop One", sans-serif;

	/*semantic*/

	--front-primary: var(--monochrome-700);
	--front-secondary: var(--monochrome-500);
	--front-tertiary: var(--monochrome-400);

	--back-primary: var(--monochrome-600);
	--back-secondary: var(--monochrome-900);

	--text-primary: var(--monochrome-200);
	--text-secondary: var(--monochrome-500);
}

@font-face {
    font-family: 'Mochiy Pop One';
    src: url(../fonts/MochiyPopOne-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
::before,
::after {
	box-sizing: border-box;
	background-repeat: no-repeat;
}

html,
body {
	margin: 0;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: var(--font-family);
	background-color: var(--front-primary);
	color: var(--text-primary);
	margin: 0 16px;
	height: auto;
}

.tabs {
	border-radius: 24px;
	padding: 8px;
	background: var(--monochrome-800);
	display: flex;
	justify-content: center;
	gap: 8px;
	width: 100%;
	margin: 12px 0;
}

.tabs__link {
	width: 100%;
	border-top: 1px solid var(--monochrome-500);
	border-radius: 16px;
	padding: 16px;
	background: var(--monochrome-700);
	font-family: var(--font-family);
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--monochrome-100);
	min-width: 152px;
}

.tabs__link:hover {
	background-color: var(--monochrome-500);
}

.tabs__content {
	/* display: none; */
}

.settings {
	display: none;
}

.settings__tiles-num {
	display: flex;
	align-items: center;
    justify-content: space-between;
}

.settings__num-button {
	border-top: 1px solid var(--monochrome-400);
	border-radius: 8px;
	padding: 8px 4px;
	width: 40px;
	height: 40px;
	background: var(--monochrome-600);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	color: var(--monochrome-100);
}

.settings__left {
	display: flex;
}

.settings__type {
	display: flex;
	justify-content: space-between;
}

.tiles_wrap {
	width: 100%;
	display: flex;
	gap: 20px;
}

.tiles-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 8px;
	width: 100%;
}

.tile {
	display: grid;
	gap: 8px;
	padding: 8px;
	text-decoration: none;
	color: var(--text-primary);
	background-color: var(--back-primary);
	border-radius: 16px;
	box-shadow:
		inset 0 1px 0 var(--front-secondary),
		0 4px 16px 0 var(--drop-shadow-10p);
	transition: all var(--transition-default);
	min-width: 152px;
}

.tile:hover {
	box-shadow:
		inset 0 1px 0 var(--monochrome-400),
		0 4px 16px 0 var(--drop-shadow-10p),
		0 8px 10px -6px var(--drop-shadow-5p),
		0 20px 25px -5px var(--drop-shadow-5p);
	background: var(--front-secondary);
}

.tile:hover .tile__cell {
	border: 1px solid var(--front-tertiary);
}

.tile:hover .tile__cell-key {
	border-bottom: 1px solid var(--front-tertiary);
}

.tile:hover .tile_thumb {
	background: var(--back-secondary);
}

.settings__num-button:hover {
	background: var(--monochrome-500);
}

.tile__thumb {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--front-primary);
	border-radius: 8px;
	padding: 16px;
	min-width: 136px;
}

.tile__img {
	min-width: 136px;
}

.tile__num {
	position: absolute;
	top: 16px;
	left: 16px;
	font-size: 8px;
	line-height: 1;
}

.tile__info {
	display: grid;
	gap: 16px;
	padding: 0 8px;
	min-width: 136px;
}

.tile__header {
	display: flex;
	gap: 8px;
    flex-direction: column;
    align-items: center;
}

.tile__title {
	margin: 0;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.02em;
}

.tile__types {
	display: flex;
	gap: 8px;
	padding: 4px 0px;
}

.tile__type-icon,
.tile__cell-icon {
	width: 16px;
	height: 16px;
}

.tile__table {
	width: 100%;
	display: grid;
	gap: 4px;
	grid-template-columns: repeat(2, 1fr);
}

.tile__cell {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--front-secondary);
	border-radius: 8px;
	width: 100%;
	box-sizing: border-box;
}

.tile__cell-key {
	display: flex;
	justify-content: center;
	padding: 7px 0 8px;
	box-shadow: inset 0 -1px var(--front-secondary);
	transition: box-shadow var(--transition-default);
}

.tile__cell-value {
	display: flex;
	justify-content: center;
	padding: 8px 7px 7px;
	font-size: 8px;
	line-height: 1;
	letter-spacing: 0.05em;
}

@media (min-width: 768px) {
	.tile {
		gap: 16px;
		padding: 8px 8px 16px;
		border-radius: 16px;
	}

	.tiles-grid {
		grid-template-columns: repeat(3, 1fr);
		gap: 8px;
	}

	.tile__thumb {
		padding: 40px 32px;
	}

	.tile__num {
		top: 12px;
		left: 12px;
		font-size: 12px;
	}

	.tile__info {
		gap: 24px;
		padding: 0 8px;
	}

	.tile__title {
		font-size: 24px;
	}

	.tile__header {
		flex-direction: row;
		align-items: end;
		justify-content: space-between;
	}

	.tile__types {
		gap: 12px;
	}

	.tile__type-icon,
	.tile__cell-icon {
		width: 20px;
		height: 20px;
	}

	.tile__table {
		gap: 8px;
	}

	.tile__cell {
		display: grid;
		grid-template-columns: 40px auto;
	}

	.tile__cell-key {
		padding: 7px 0;
		box-shadow: inset -1px 0 var(--front-secondary);
		transition: box-shadow var(--transition-default);
	}

	.tile:hover .tile__cell-key {
		box-shadow: inset -1px 0 var(--front-tertiary);
		border-bottom: none;
	}

	.tile__cell-value {
		align-items: center;
		padding: 7px;
		font-size: 10px;
	}
}

@media (min-width: 1078px) {
	.settings {
		display: flex;
		flex-direction: column;
		min-width: 250px;
	}
}