.tabs {
	border-radius: 24px;
	padding: 8px;
	background: var(--monochrome-800);
	display: flex;
	justify-content: center;
	gap: 8px;
	width: 100%;
	height: 56px;
	align-items: center
}

.tabs__link {
	@include button-primary (8px 16px, var(--monochrome-700), 16px, var(--monochrome-100));
	width: 100%;
	border: none;
	border-top: 1px solid var(--monochrome-500);
	font-family: var(--font-family);
	font-size: 12px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
	min-width: 152px;
	height: 40px;
}

.tabs__link:hover {
	background: var(--monochrome-400);
	border-top: 1px solid var(--monochrome-300);
}

.tabs__link:active {
	background: var(--monochrome-500);
	border-top: 1px solid var(--monochrome-400);
}
