.filter {
    width: 280px;
    // display: none;
}
@media (min-width: $screen-t) {
    .filter {
        display: block;
    }
}
@media (min-width: $screen-ti) {
    .filter {
        width: 354px;
    }    
}
.filter__header {
    display: flex;
    border-radius: 16px;
    padding: 8px 8px 8px 16px;
    height: 56px;
    background: var(--monochrome-800);
    justify-content: space-between;
}

.filter__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--monochrome-100);
    align-self: center;
}
.filter__body {
    border-radius: 16px;
    padding: 8px;
    width: 100%;
    height: 812px;
    background: var(--monochrome-800);
    margin-top: 4px;
}
@media (min-width: $screen-ti) {
    .filter__body {
        margin-top: 16px;
    }
    
}
.filter__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 6px 6px 6px 16px;
    width: 248px;
    height: 40px;
    background: var(--monochrome-800);
    width: 100%;
}
.filter__button-title {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0.03em;
    color: var(--monochrome-100);
}
.filter__button-name {
    display: block;
}
.filter__button-info {
    display: flex;
    justify-content: center;
    border: 1px solid var(--monochrome-400);
    border-radius: 8px;
    padding: 8px;
    width: 48px;
    height: 28px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--monochrome-100);
}