*,
::before,
::after {
	box-sizing: border-box;
	background-repeat: no-repeat;
}
html,
body {
	margin: 0;
	height: 100%;
}

body {
	font-family: "Mochiy Pop One", sans-serif;
	background-color: var(--monochrome-700);
    height: 100%;
}

.container {
	margin: 0 auto;
	width: min(calc(100% - 32px), 328px);
}
@media (min-width: $screen-t) {
	.container {
		width: min(calc(100% - 64px), 576px);
	}
}
@media (min-width: $screen-tl) {
	.container {
		width: min(calc(100% - 100px), 992px);
	}
}
@media (min-width: $screen-dl) {
	.container {
		width: min(calc(100% - 160px), 1280px);
	}
}
@media (min-width: $screen-dxl) {
	.container {
		width: min(calc(100% - 240px), 1488px);
	}
}

.header-wrap {
	margin-top: 12px;
}

@media (min-width: $screen-ti) {
	.header-wrap {
        margin-top: 32px;
    }
}
@media (min-width: $screen-d) {
	.header-wrap {
        margin-top: 80px;
    }
}