.settings {
	display: none;
}

.settings__tiles-num {
	display: flex;
	align-items: center;
    justify-content: space-between;
}

.settings__num-button {
	border-top: 1px solid var(--monochrome-400);
	border-radius: 8px;
	padding: 8px 4px;
	width: 40px;
	height: 40px;
	background: var(--monochrome-600);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	text-align: center;
	color: var(--monochrome-100);
}

.settings__type-wrap {
	border-radius: 8px;
	padding: 6px 6px 6px 16px;
	height: 40px;
}

.settings__type-wrap:hover {
	border-top: 1px solid var(--monochrome-400);
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
	background: var(--monochrome-500);
}

.settings__left {
	display: flex;
	gap: 12px;
	align-items: center;
}

.settings__type {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.settings__type-num {
	align-items: center;
    display: flex;
    justify-content: center;
	border: 1px solid var(--monochrome-400);
	border-radius: 8px;
	padding: 8px;
	height: 28px;
	font-size: 10px;
	width: 48px;
	margin: 0;
}

@media (min-width: 1078px) {
	.settings {
		display: flex;
		flex-direction: column;
		min-width: 250px;
	}
}