.tiles-wrap {
	width: 100%;
	display: flex;
	gap: 20px;
}

.tiles-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 8px;
	width: 100%;
	margin-bottom: 48px;
}

@media (min-width: 768px) {
	.tiles-grid {
		grid-template-columns: repeat(3, 1fr);
		gap: 8px;
	}
}